{% extends 'base.html' %}

{% block content %}

<div class="row">
    <div class="col-md-4">
        <h2 class="h3 text-center">Pildyti PVM sąskaitą-faktūrą</h2>
        <form method="POST" action="{% url 'create-invoice' %}">
            {% csrf_token %}
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Serijos nr:</span>
                    </div>
                    <input type="text" name="series" class="form-control" value="SSN">
                </div>
            </div>
            <div class="form-group">
                <input type="text" name="seller" class="form-control" placeholder="Pardavėjas">
            </div>
            <input class="btn btn-outline-dark btn-block" type="submit" value="Pateikti">
        </form>
    </div>
</div>

{% endblock %}